@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    width: 375px;
    height: 777px;
    margin: 0 auto;
    min-height: 100vh;
    align-items: center;
    background-color: #F6F8FF;
}

header {
    display: flex;
    flex-direction: row;
    width: 327px;
    height: 38px;
    justify-content: space-between;
    margin: 31px 24px 36px 24px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.logo {
    font-size: 2.6rem;
    font-weight: 700;
    font-family: 'Space Mono';
    color: #222731;
}

.modo {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    color: #4B6A9B;
    ;

}

.modo>h2 {
    font-size: 1.3rem;
    font-weight: 700;
    font-family: 'Space Mono';
    letter-spacing: 0.25rem;
}

.modo>img {
    width: 2.0rem;
    height: 2.0rem;
}

.search {
    display: flex;
    flex-direction: row;
    width: 327px;
    height: 60px;
    background-color: #FEFEFE;
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    margin: 0 24px;
}

.search>img {
    width: 20.05px;
    height: 20px;
}

.search>input {
    width: 184px;
    height: 25px;
    font-size: 1.3rem;
    font-weight: 400;
    font-family: 'Space Mono';
    line-height: 2.5rem;
    color: #4B6A9B;
    outline: none;
    border: none;
    margin-left: 11.32px;
    margin-right: 7px;
}

.search>button {
    width: 84px;
    height: 46px;
    background: #0079FF;
    border-radius: 10px;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    border: none;
}

.container {
    width: 327px;
    height: 517px;
    background: #FEFEFE;
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
    border-radius: 15px;
    margin: 16px 24px 79px 24px;
}

.user {
    display: flex;
    flex-direction: row;
    width: 233px;
    height: 70px;
    margin: 32px 70px 33px 24px;
}

.user img {
    width: 70px;
    height: 70px;
    border-radius: 35px;
}