@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    max-height: 900px;
    margin: 0 24px;
    min-height: 100vh;
    justify-content: center;
    background-color: #F6F8FF;
}

header {
    display: flex;
    max-width: 730px;
    justify-content: space-between;
    margin-bottom: 3.6rem;
    flex-direction: row;
}

.logo {
    font-family: Space Mono;
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 3.9rem;
    text-align: left;

}

.modo {
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.modo>h2 {
    font-family: Space Mono;
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1.9rem;
    letter-spacing: 0.25rem;
    text-align: right;
}

.modo>img {}

main {
    max-width: 730px;
    display: flex;
    flex-direction: column;
}

.search-container {
    display: flex;
    background-color: #FEFEFE;
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
    border-radius: 15px;
    margin-bottom: 2.4rem;
    align-items: center;
    max-width: 100%;
    padding: 0.95rem 1rem 0.95rem 3.2rem;
    justify-content: space-between;
}

.search-box {
    display: flex;
    gap: 2.4rem;
    align-items: center;
    max-width: 300px;
}

.search-box>img {
    max-width: 24.06px;
    max-height: 24px;
}

.search-box>input {
    outline: none;
    border: none;
    font-family: Space Mono;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    width: 252px;
}

.search-container>button {
    display: flex;
    max-width: 106px;
    max-height: 50px;
    background: #0079FF;
    border-radius: 10px;
    font-family: Space Mono;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 24px;
    color: #FFFFFF;
    text-align: left;
    justify-content: center;
    border: none;
    align-items: center;
    padding: 1.25rem 2.3rem 1.35rem 2.4rem;
}

.container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto auto;
    max-width: 730px;
    background: #FEFEFE;
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
    border-radius: 15px;
    padding: 4.8rem;

}

.user {}

.container>img {
    max-width: 117px;
    max-height: 117px;
    border-radius: 58.5px;
    grid-row: 1/6;
    margin-right: 3.7rem;
}

.info {
    display: flex;
    align-items: center;
    max-width: 480px;
    justify-content: space-between;
}

.user>h2 {
    font-family: Space Mono;
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 3.9rem;
    text-align: left;
    color: #2B3442;

}

.link-name {
    font-family: Space Mono;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    text-align: left;
    color: #0079FF;
    text-decoration: none;
}

.info>p {
    font-family: Space Mono;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.2rem;
    text-align: right;
    color: #697C9A;
}

.bibliography {
    max-width: 480px;
    margin-top: 2rem;
}

.bibliography>p {
    font-family: Space Mono;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.5rem;
    text-align: justify;
    color: #4B6A9B;
}

.box-info {
    display: flex;
    max-width: 493px;
    padding: 1.5rem 8.3rem 1.5rem 3.2rem;
    background-color: #F6F8FF;
    border-radius: 10px;
    margin-top: 3.2rem;
    justify-content: space-between;
}

.box-info h2 {
    font-family: Space Mono;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.9rem;
    text-align: left;
    color: #4B6A9B;

}

.box-info p {
    margin-top: 0.1rem;
    font-family: Space Mono;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 3.3rem;
    text-align: left;
}

.repos {}

.followers {}

.following {}

.box-other-info {
    display: flex;
    margin-top: 4.9rem;
    grid-gap: 1.9rem;
    font-family: Space Mono;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    color: #4B6A9B;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

location-user {}


.box-other-info div {
    display: flex;
    gap: 1.8rem;
    width: 214.5px;
    overflow: auto;
}

.box-other-info img {
    height: fit-content;
}

@media screen and (max-width:700px) {

    .box-info,
    .box-other-info {
        grid-column: 1/3;
    }
}

@media screen and (max-width:620px) {
    .info {
        align-items: flex-start;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: flex-start;
    }

}

@media screen and (max-width:543px) {
    .box-info {
        padding: 1.5rem 3.2rem 1.5rem 3.2rem;
    }

    html {
        font-size: 58.5%;
    }
}

@media screen and (max-width:500px) {
    html {
        font-size: 48.5%;
    }

    .search-box {
        max-width: 200px;
        gap: 1rem;
    }

    .search-box>input {
        width: 217px;
        font-size: 1.5rem;
    }

    .search-box>img {
        width: 17.68px;
    }

    .container>img {
        max-width: 70px;
        max-height: 70px;
    }

    .bibliography {
        grid-column: 1/3;
        margin-top: 36px;
    }
}